.cs-modal-destinations {
  position: absolute;
  z-index: 6;
  max-width: 450px;
  width: 450px;
  margin: 0 auto;
  left: 50%;
  margin-left: -700px;
  top: 70px;
  max-height: auto;
  height: auto;
  overflow: auto;
  background-color: #000;
  border: 5px solid #fff;
}

.cs-modal-destinations-inner > div {
  text-transform:uppercase;
  padding-bottom:2px;
  padding-top:2px;
}
.cs-modal-destinations-inner > div.btn-depart {
  cursor:pointer;
}
.cs-modal-destinations-inner > div.btn-depart:hover {
  background:#fff;
  color:#000;
}

/* Mobile */ 
@media only screen and (max-width: 600px) {
  .cs-modal-destinations {
    max-width: auto;
    width: 99%;
    top: 120px;
    margin-left:0;
    left:0;
  }
}