.cs-modal-clues {
  position: absolute;
  z-index: 6;
  max-width: 650px;
  width: 650px;
  margin: 0 auto;
  left: 50%;
  margin-left: -500px;
  top:150px;
  max-height: auto;
  height: auto;
  overflow: auto;
  background-color: #000;
  border: 5px solid #fff;
}

.cs-modal-clues-places > div {
  text-transform:uppercase;
  padding-bottom:2px;
  padding-top:2px;
  cursor:pointer;
}

.cs-modal-clues-places > div:hover {
  background:#fff;
  color:#000;
}

.cs-modal-clues-emoji {
  font-size:120px;
  margin-left:50px;
}

.cs-modal-clues-places {
  margin-top:80px;
}