.cs-btn {
  display: inline-flex;
  padding:5px;
  background-color: #fff;
  border:1px solid #000;
  box-shadow:5px 5px #000;
  margin-right:10px;
  cursor:pointer;
}

.cs-btn-inner {
  width:137px;
  height:93px;
  padding:2px;
  background-size: contain;
  background-position: top left;
  background-repeat:no-repeat;
  border:1px solid #000;
}


.cs-btn:hover,
.cs-btn:focus {
  background-color: green;
}

.cs-btn-hide,
.cs-btn-depart-hide {
  background-color: green;
} 

.cs-btn-see .cs-btn-inner {
  background-image: url('see.jpg');
}

.cs-btn-hide .cs-btn-inner {
  background-image: url('hide.jpg');
}

.cs-btn-depart .cs-btn-inner {
  background-image: url('depart.jpg');
}

.cs-btn-search .cs-btn-inner {
  background-image: url('search.jpg');
}

.cs-btn-crime .cs-btn-inner {
  background-image: url('crime.jpg');
}

.cs-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

/* Mobile */ 
@media only screen and (max-width: 600px) {
  .cs-btn {
    padding:1px;
    box-shadow:2px 2px #000;
    margin-right:7px;
  }
  .cs-btn-inner {
    width:90px;
    height:63px;
    padding: 1px;
  }
  .cs-btn-hidden-mobile {
    display:none;
  }
}
